# Specify a list of files that will be excluded from docker context
# List files that should be excluded from docker file and when we run docker commands

# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/